<div class="user-list-container">
  <div class="toolbar">
    <i class="fas fa-user user-icon"></i>
    <input [(ngModel)]="searchTerm" placeholder="Search Name" />
  </div>

  <table class="user-table">
  <thead>
    <tr>
      <th style="width: 18%;">Name</th>
      <th style="width: 14%;">Mobile No</th>
      <th style="width: 22%;">Email Address</th>
      <th style="width: 14%;">Date Joined</th>
      <th style="width: 10%;">Status</th>
      <th style="width: 12%;"></th>
      <th style="width: 3%;"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of filteredUsers">
      <td>{{ user.name }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.joined }}</td>
      <td [ngClass]="{ 'active': user.status === 'Active', 'deleted': user.status === 'Deleted' }">
        {{ user.status }}
      </td>
      <td>
        <button class="see-profile" (click)="goToUserProfile(user.email)">See Profile</button>
      </td>
      <td>
        <button class="delete-btn" (click)="deleteUser(user.email)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>