<div class="user-list-container">
  <div class="toolbar">
    <input [(ngModel)]="searchTerm" placeholder="Search Name" />
  </div>

  <table class="user-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile No</th>
        <th>Email Address</th>
        <th>Date Joined</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.joined }}</td>
        <td [ngClass]="{ 'active': user.status === 'Active', 'deleted': user.status === 'Deleted' }">
          {{ user.status }}
        </td>
        <td><button (click)="goToUserProfile(user.email)">See Profile</button></td>

      </tr>
    </tbody>
  </table>
</div>
